/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilo para el select */
select {

    color: #000; /* Color del texto */
    border: none;

}

/* Estilo para las opciones */
select option {
    background-color:rgba(245, 245, 245,.5); /* Color de fondo de las opciones */
    color: #000; /* Color del texto de las opciones */
}

/* Estilo para cuando el select está enfocado */
select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 83, 160,.5);
}
body {
    font-family: Arial, sans-serif;
    background: rgb(230, 229, 230);
    color: #333;
    line-height: 1.6;
}
.linea{
    width:70% !important;
    height:2.5px;
    background:rgb(0, 83, 160);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    width: 95%;
    max-width: 95%;
    margin: 20px auto;
    padding: 20px;
    background: rgb(230, 229, 230);
    box-shadow:1px 1px 20px rgba(0, 0, 0,.7);
    border-radius:8px;
}
h1,h2{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:1rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    width:100%;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

/* Formulario de registro */
.form-container {
    margin-bottom: 40px;
    background:transparent !important;
}.containerFiltro{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:100%;
    height:auto;
}.containerFiltro input{
 height:35px; 
 width:20%;
 border: none;
 border-radius:7px 0 0 7px;
 box-shadow:1px 1px 10px rgba(0,0,0,.3);
}.divFiltroImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width:3%;
    height:35px;
    border-radius:0 7px 7px 0;
    background:rgb(213, 206, 217);
    box-shadow:1px 1px 10px rgba(0,0,0,.3);
    cursor: pointer;
}.imgFiltro{
    width:20px;
    height:20px;  
}.formulario{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; /* Espacio entre celdas */    
    padding:2rem;
    box-shadow:0 10px 10px rgba(0,0,0,.2);
    border-radius:7px;
    background: rgb(241, 241, 241);
}.imgIcon{
    width:25px;
    cursor:pointer;
}.imgIconn{
    width:30px;
}
/* Estilos para cada celda */
.grid-item {
    color: white;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s ease;
}.input-group {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.input-group label {
    font-weight: bold;
    color: #555;
    width:100%;
    font-size:.9rem;
}.input-group input,.input-group select{
    height:35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size:.9rem;
    transition: border-color 0.3s ease;
    width:100%;
}.input-group input:focus {
    border-color:rgb(0, 83, 160);
    outline: none;
}.input-group input{
    width:100%;
}button{
    padding:.7rem 0;
    width:40%;
    background:rgb(0, 83, 160);
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top:2rem;
    box-shadow:1px 1px 10px rgba(0,0,0,.6);
}button:hover{
    background:rgba(0, 83, 160,.7);
}
/* Tabla de registros*/
.table-container{
    overflow-x:auto;
    border-radius:7px;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
}.table-container,.form-container{
    background: rgb(245, 245, 245);
    width:100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    padding:1rem;
    border-radius:7px;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: .9rem;
}

table th {
    background:rgb(0, 83, 160);
    color: white;
}

table tr:hover {
    background-color: #f1f1f1;
}
/* Responsive Design */
@media (max-width: 768px){
    .container {
        width: 100%;
        padding: 10px;
    }.input-group input,.input-group select{
        padding: 8px;
        font-size: 14px;
    }table th, table td {
        padding: 8px;
    }.linea{
    display:none;
    }.formulario{
    display:grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columnas de igual tamaño */
    grid-template-rows:repeat(6, 1fr);
    gap: 10px; /* Espacio entre celdas */    
    padding:2rem;
    box-shadow:0 10px 10px rgba(0,0,0,.2);
    border-radius:7px;
    background: rgb(241, 241, 241);
}.input-group label {
    font-weight: bold;
    color: #555;
    width:100%;
    font-size: .8rem;
}button{
    padding:.7rem 0;
    width:70%;
    background:rgb(0, 83, 160);
    color:white;
    border:none;
    border-radius:5px;
    font-size:.9rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top:2rem;
    box-shadow:1px 1px 10px rgba(0,0,0,.6);
}.containerFiltro{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:100%;
    height:auto;
}.containerFiltro input{
 height:35px; 
 width:40%;
 border: none;
 border-radius:7px 0 0 7px;
 box-shadow:1px 1px 10px rgba(0,0,0,.3);
}.divFiltroImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10%;
    height:35px;
    border-radius:0 7px 7px 0;
    background:rgb(213, 206, 217);
    box-shadow:1px 1px 10px rgba(0,0,0,.3);
    cursor: pointer;
}.imgFiltro{
    width:20px;
    height:20px;  
}
}
@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }h2 {
        font-size: 20px;
    }.input-group label {
        font-size: 14px;
    }.input-group input {
        padding: 6px;
        font-size: 12px;
    }table th, table td {
        padding: 6px;
        font-size: 12px;
    }.linea{
        display:none;
    }.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columnas de igual tamaño */
    grid-template-rows: repeat(6, 1fr);
    gap: 10px; /* Espacio entre celdas */    
    padding:2rem;
    box-shadow:0 10px 10px rgba(0,0,0,.2);
    border-radius:7px;
    background: rgb(241, 241, 241);
}.input-group label {
    font-weight: bold;
    color: #555;
    width:100%;
    font-size: .8rem;
}button{
    padding:.7rem 0;
    width:70%;
    background:rgb(0, 83, 160);
    color:white;
    border:none;
    border-radius:5px;
    font-size:.9rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top:2rem;
    box-shadow:1px 1px 10px rgba(0,0,0,.6);
}.containerFiltro{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:100%;
    height:auto;
}.containerFiltro input{
 height:35px; 
 width:40%;
 border: none;
 border-radius:7px 0 0 7px;
 box-shadow:1px 1px 10px rgba(0,0,0,.3);
}.divFiltroImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10%;
    height:35px;
    border-radius:0 7px 7px 0;
    background:rgb(213, 206, 217);
    box-shadow:1px 1px 10px rgba(0,0,0,.3);
    cursor: pointer;
}.imgFiltro{
    width:20px;
    height:20px;  
}

}