body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	overflow: none;
}
:root{
	--header__background: #fff;
	--navbar__background: rgb(0, 25, 61);
	--firstcard__background:  linear-gradient(90deg, #BEBEBE, #fff);
	--secondcard__background: linear-gradient(45deg, #BEBEBE30 40%, #fff );
	--boximg__background: linear-gradient(170deg, #C8E1F2, #001945);
	--textinfo__color: #00196D;

}
header, footer .Card__Section{
	width: 100%;
} 
.Header__Main{
	display: flex;
	place-content: center;
	background: var(--header__background);
	box-sizing: border-box;
	width: 100vw;
	padding: 0 50px 0 100px;
}
.Main__Title{
	flex: 1;
	text-align: center;
	font-size: clamp(1rem, -0.25rem + 3.333vw, 1.55rem);
}
.Header__Label{
	display: flex;
}
.Label__Logo{
	transition: 1s ease-out;
	min-width: 15px;
	max-width: 15px;
}
.Label__Logo:hover{
	cursor: pointer;
}
.__Bell{
	margin: 0 5px 0 0;
	min-width: 6px;
	max-height: 6px;
}
.Label__Menu{
	display: none;
}
.Header__Secondary{
	display: flex;
	width: 100vw;
	place-content: center;
	background: var(--navbar__background);
	padding: 2px 0 2px 0;
	position: sticky;
}
.Secondary__Navbar{
	display: flex;
	min-width: 100vw;
	max-width: 100vw;
	padding: 0 20px 0 20px;
	justify-content: center;
	list-style: none;
}
.Navbar__Label{
	font-size: clamp(0.6rem, 0.314rem + 0.762vw, 1rem);
	color: white;
	margin: 0 9px 0 9px;
	font-weight: bold;
	transition: 1s ease;
}
.Navbar__Label:hover{
	cursor: pointer;
	border-bottom: 1px solid white;
}
/*Aquí le puedes cambiar el color a los logos del navbar
secundario en caso de que quieras, usa fontawesone.*/
.__NavLogo{
	background: white;
	border-radius: 50px;
	min-width: 14px;
	max-width: 14px;
}
.Navbar__Menu{
	display: none;
}
.Positioner{
	display: flex;
	justify-content: center;
}
.MainSection{
	background: white;
	width: 90vw;
	box-sizing: border-box;
	border-radius: 40px;
	margin: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.Card{
	display: flex;
	justify-content: center;
	flex-flow: wrap;	
}
.Card__Section{
	display: flex;
	position: relative;
	place-content: center space-around;
	box-sizing: border-box;
	margin: 10px;
	background: var(--firstcard__background);
	width: 80vw;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border-radius: 20px;
}
.Card__Title{
	font-size: clamp(1rem, -0.25rem + 3.333vw, 2.75rem);
	color: var(--textinfo__color);
}
.Card__Subtitle{
	font-size: clamp(0.8rem, 0.121rem + 1.81vw, 1.2rem);
	color: var(--textinfo__color);
}
.Card__Box{
	max-width: 20vw;
	box-sizing: border-box;
  background: var(--boximg__background);
  border-radius: 50%;
  padding: 10px;
}
.Box__Icon{
	max-width: 15vw;
	background: white;
  border-radius: 50%;
}
.Wrapper{
	display: flex;
	max-width: 100vw;
	justify-content: center;
	gap: 20px;
}
.Wrapper__SecondaryInfo{
	width: 40%;
	background: var(--secondcard__background);
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border-radius: 20px;
}
.SecondaryInfo__Title{
	text-align: center;
	font-size: clamp(1rem, 0.607rem + 1.048vw, 1.55rem);
	color: var(--textinfo__color);
}
.SecondaryInfo__Ulist{
	display: flex;
	place-content: center start;
	flex-flow: column wrap;
	gap: 6px;
	color: var(--textinfo__color);
	list-style: none;
	font-size: clamp(0.5rem, 0.143rem + 0.952vw, 1rem);
	font-weight: bold;
}
.Footer{
	display: flex;
	background: var(--navbar__background);
	place-content: center center;
	color: white;
	margin-top: auto;
	font-weight: bold;
	text-align: center;
}
.Footer__Paragraph{
	font-size: clamp(0.8rem, 0.029rem + 1.524vw, 1rem);
}
@media screen and (max-width: 700px){
	.Aside{
		display: flex;
		justify-content: center;
	}
	.Wrapper{
		gap: 5px;
		flex-flow: column;
	}
	.Wrapper__SecondaryInfo{
		width: 70vw;
	}
}